.header {
  box-shadow: var(--bottom-shadow);
  background-color: var(--clr-elements);
  color: var(--clr-text);
  padding: 2rem 0;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-size: 1rem;
}

.header .toggle-mode-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--clr-text);
}

.header .darkmode-text {
  font-weight: 300;
  margin-left: 0.3rem;
  text-transform: capitalize;
}
