.site-wrapper {
  min-height: 100vh;
  background-color: var(--clr-background);
  color: var(--clr-text);
  overflow: hidden;
}

.main {
  padding: 3rem 0;
  background-color: var(--clr-background);
}

@media screen and (min-width: 900px) {
  .main {
    padding: 5rem 0;
  }
}
