@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --bottom-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.125);
  --box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.125);

  --rounded-sm: 0.3rem;
  --rounded: 0.5rem;

  --select-border: #777;
  --select-focus: var(--white);
  --select-arrow: var(--select-border);

  --clr-elements: hsl(0, 0%, 100%);
  --clr-background: hsl(0, 0%, 98%);
  --clr-input: hsl(0, 0%, 52%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-hover: hsl(0, 0%, 90%);
  --clr-focus: 2px solid blue;
}

[data-theme='dark'] {
  --clr-elements: hsl(209, 23%, 22%);
  --clr-background: hsl(207, 26%, 17%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-input: var(--clr-text);
  --clr-hover: hsl(209, 23%, 33%);
  --clr-focus: 2px solid purple;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 1.5rem;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 900) {
  .container {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 5rem;
  }
}

.container > * + * {
  margin-top: 2rem;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

.active {
  overflow: auto;
  height: auto;
  visibility: visible;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-light {
  font-weight: 300;
}

.ml-sm {
  margin-left: 0.3rem;
}

.mr-sm {
  margin-right: 0.3rem;
}
