@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dm-dark-blue: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
  --dm-very-dark-blue: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --lm-very-dark-blue: hsl(200, 15%, 8%); /*(Light Mode Text)*/
  --lm-dark-gray: hsl(0, 0%, 52%); /*(Light Mode Input)*/
  --lm-very-light-gray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
  --white: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/

  --bottom-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.125);
  --box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.125);

  --rounded: 0.3rem;

  --select-border: #777;
  --select-focus: var(--white);
  --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--dm-very-dark-blue);
  color: var(--white);
}

.container {
  padding: 0 2rem;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 900) {
  .container {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 5rem;
  }
}

.container > * + * {
  margin-top: 2rem;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

.active {
  overflow: auto;
  height: auto;
  visibility: visible;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-light {
  font-weight: 300;
}

.ml-sm {
  margin-left: 0.3rem;
}

.mr-sm {
  margin-right: 0.3rem;
}
